<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript">
		// addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />

	<link th:href="@{/css/layout_style.css}" rel='stylesheet'/>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
	<script>$(document).ready(function(c) {
		$('.close').on('click', function(c){
			$('.login-form').fadeOut('slow', function(c){
	  			$('.login-form').remove();
			});
		});
	});
	</script>

	<h1>登录表单</h1>
	<div class="login-form">
		<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
		<div class="clear"> </div>
		<div class="avtar"><img th:src="@{/images/avtar.png}" /></div>
		<form th:action="@{/login}">
			<input type="text" class="text" name="username" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'username';}" >
			<div class="key">
				<input type="password" name="password" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'password';}">
			</div>
			<!--Message提示用户名或密码错误-->
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<div class="signin">
				<input type="submit" value="登陆">
			</div>
		</form>

	</div>
	<div class="copy-rights">
		<p>Copyright &copy; 2015.Company name All rights reserved.</a></p>
	</div>
</body>
</html>